.cardItemContainer{
    display: flex;
    overflow-x: scroll;
    gap: 5px;
}
.cardItemContainer .cardItem{
    max-width: 11rem;
    min-width: 10rem;
    max-height: 21rem;
    border-radius: 5px;
}

.cardItemContainer .cardItem .card-body .card-text{
    color: rgb(206, 249, 141);
    font-size: 0.6rem;
    margin-bottom: 5px;
}
.cardItemContainer .cardItem .card-body .buttons .btn{
    font-size: 0.7rem;
    padding: 0;
}
.cardItemContainer .cardItem .card-body .buttons .see{
    padding: 5px 9px;
}

.cardItemContainer .cardItem .card-body .buttons .icon{
    color: white;
}