.cardWidget{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardWidget .WidgetIco{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}
.cardWidget .WidgetNum{
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    margin: 0px 0px 0px 5px;
    padding: 2px;
    color: rgb(206, 249, 141);

}