.loading_container{
    height: 45vh;
    display: grid;
    place-items:center;
}
.itemDetailContainer .itemDetail {
    display: grid;
    grid-template-areas:
        "head head head head"
        "imgCont imgCont imgCont imgCont"
        "info info info info";
        
    grid-gap: 1px;
}

/* +++++++++++++++++++++++++++++++ HEAD */
.itemDetailContainer .itemDetail .item {
    border: black solid 4px;
    border-radius: 10px;
    text-align: start;
    width: 100vw;
    padding: 1rem;
}
.itemDetailContainer .itemDetail .item h1{
    font-family: var(--title-font);
    margin: 0 !important;
    padding: 1rem;
}

.itemDetailContainer .itemDetail .head {
    grid-area: head;
}

/* +++++++++++++++++++++++++++++++ IMG */
.itemDetailContainer .itemDetail .imgCont {
    grid-area: imgCont;

    width: 100vw;
    padding: 1rem;
    display: grid;
    grid-template-columns:auto auto;
    gap: 1px;
}
.itemDetailContainer .imgCont .itemImgCont {
    text-align: center;
    padding: 0;
}

.itemDetailContainer .imgCont .itemImgCont1 {
    grid-column-start: 1;
    grid-column-end: 3;
    min-width: 150px;
    max-width: 500px;
}

.itemDetailContainer .imgCont .itemImgCont2 {
    min-width: 75px;
    max-width: 250px;
}

.itemDetailContainer .imgCont .itemImgCont3 {
    min-width: 75px;
    max-width: 250px;
}


.itemDetailContainer .imgCont .itemImgCont1 img {
    border-radius: 10px;
    width: 100%;
}

.itemDetailContainer .imgCont .itemImgCont2 img {
    border-radius: 10px;
    width: 100%;
}

.itemDetailContainer .imgCont .itemImgCont3 img {
    border-radius: 10px;
    width: 100%;
}

/* +++++++++++++++++++++++++++++++ INFO */
.itemDetailContainer .itemDetail .info {
    grid-area: info;
    padding: 1rem;
    width: 100vw;

}

.itemDetailContainer .itemDetail .info h2{
    font-family: var(--title-font);
}
.itemDetailContainer .itemDetail .info h3{
    font-size: 1.3rem;
    margin-bottom: 0;
}
.itemDetailContainer .itemDetail .info h4{
    font-size: 1rem;
    color: rgb(206, 249, 141);
}

.itemDetailContainer .itemDetail .info .infoclass{
    display: flex;
    align-items: center;
}
.itemDetailContainer .itemDetail .info .infoclass .infoclassTittle{
    margin: 0rem 1rem 0rem 0rem;
    font-family: var(--title-font);
}
.itemDetailContainer .itemDetail .info .infoclass .infoclassValues{
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}



.itemDetailContainer .itemDetail .info .overView{
    margin-top: 1rem;
}

@media (min-width: 500px) {
    .itemDetailContainer .itemDetail {
        max-width: 1326px;
        grid-template-areas:
        "head head head head"
        "imgCont imgCont info info"
        "imgCont imgCont info info";

    }
    .itemDetailContainer .itemDetail .item {
        width: auto;
    }
}

@media (min-width: 1200px) {
    /* +++++++++++++++++++++++++++++++ HEAD */
    .itemDetailContainer .itemDetail .item h1{
        font-size: 5rem;
    }

    /* +++++++++++++++++++++++++++++++ INFO */
    .itemDetailContainer .itemDetail .info h2{
        font-size: 4rem;
    }
    .itemDetailContainer .itemDetail .info h3{
        font-size: 3rem;
    }
    .itemDetailContainer .itemDetail .info h4{
        font-size: 2rem;
        color: rgb(206, 249, 141);
    }


    .itemDetailContainer .itemDetail .info .infoclass .infoclassTittle{
        font-size: 2rem;
        margin: 0rem 1rem 0rem 0rem;
    }
    .itemDetailContainer .itemDetail .info .infoclass .infoclassValues{
        font-size: 1.7rem;
        padding: 0;
        margin: 0;
    }


    .itemDetailContainer .itemDetail .info .overView{
        font-size: 1.5rem;
    }
}
