.cardItem{
    max-width: 9rem;
    min-width: 8rem;
    max-height: 20rem;
    border-radius: 10px;
}
.loading{
    width: 9rem !important;
    height: 20rem;
}
.cardItem .card-body .card-title{
    font-size: 0.8rem;
}
.cardItem .card-body .card-text{
    color: rgb(206, 249, 141);
    font-size: 0.6rem;
}
.cardItem .card-body .botones{
    display:flex;
    align-items: center;
}
.cardItem .card-body .botones .btn{
    font-size: 0.7rem !important;
    padding: 0;
}
.cardItem .card-body .botones .see{
    padding: 5px 9px;
}

.cardItem .card-body .botones .icon{
    font-size: 0.8rem !important;
    color: white;
}


@media (min-width: 570px) {

    .cardItem{
        max-width: 11rem;
        max-height: 22rem;
    }
    .loading{
        width: 11rem !important;
        height: 22rem !important;
    }
}