.cardItem{
    width: 9rem;
    height: 20rem;
    border-radius: 10px;
}
.cardContainer .cardItemContainer .loading{
    width: 9rem;
    height: 20rem;
}
.cardContainer .cardItemContainer .loading .card-img-top{
    height: 57%;
}
.loading{
    width: 9rem !important;
    height: 20rem;
}
.cardItem .card-body{
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cardItem .card-body .card-title{
    font-size: 0.8rem;
}
.cardItem .card-body .card-text{
    color: rgb(206, 249, 141);
    font-size: 0.6rem;
}
.cardItem .card-body .buttons{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: auto;
}
.cardItem .card-body .buttons .btn{
    font-size: 0.7rem !important;
    padding: 0;
}
.cardItem .card-body .buttons .see{
    padding: 5px 9px;
}

.cardItem .card-body .buttons .icon{
    font-size: 0.8rem !important;
    color: white;
}


@media (min-width: 900px) {

    .cardItem{
        width: 11rem;
        height: 23rem;
    }
    .cardItem .card-body .card-title{
        font-size: 1rem;
    }
    .cardItem .card-body .card-text{
        font-size: 0.8rem;
    }
    
}