
.footer{
    padding: 3rem 1rem;
    margin: 0 !important;
    font-family: sans-serif;
}
.footer .name{
    color: white;
    font-size: small;
    font-weight: bold;
}
.footer .warning{
    color: white;
    font-size: 0.7rem;
}
@media (min-width: 670px) {
    .footer .warning{
        font-size: 1rem;
    }
}
